<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget password</title>
</head>
<body>
    <form action="{% url 'forget_password' 'token' %}" method="post">
        {% csrf_token %}
        <label for="New Password">New Password</label>
        <input type="text" name="New Password">
        <label for="Confirm Password">confirm Password</label>
        <input type="text" name="Confirm Password">
        <input type="hidden" name="userId" value="{{user_id}}">
        <input type="submit" value="Done">
    </form>
</body>
</html>